<div class="container">
    {{ text }}
    <div class="row align-items-center" style="height:100vh">
        <div class="col-4">
        </div>
        <div class="col-4">
            <div class="card text-white bg-info mb-6">
                <div class="card-header">Welcome to Harsha's App</div>
                <div class="card-body">
                  <h5 class="card-title">Enter your OANDA token here</h5>
                  <div class="form-group">
                      <input type="text" 
                            class="form-control" 
                            (focusout)="checkForValidAccounts()"
                            [(ngModel)] = "token">
                  </div>
                  <div *ngIf="accounts.length > 0">
                      <h5 class="card-title">Select your account</h5>
                      <ul class="list-group" *ngFor="let account of accounts">
                        <li class="list-group-item list-group-item-info"
                            (click) = "selectedAccount(account.id)">
                            {{ account.id }}
                        </li>
                      </ul>
                  </div>    
                </div>
              </div>
        </div>
        <div class="col-4">
        </div>
      </div>
</div>