.jumbotron {
    position: relative;
    top: 90%;
    transform: translateY(-50%);
    opacity: .85;
    border-color:  RGB(50, 50, 50);
    padding-bottom: 8px;
}
.stock-price{
    font-weight: bold;
    font-size: 22px;
}
.full-height{
    height: 100%;
    overflow: auto;
    padding: 10px;
}