.jumbotron {
    position: relative;
    top: 90%;
    transform: translateY(-50%);
    opacity: .85;
    border-color:  RGB(50, 50, 50);
    padding-bottom: 8px;
}
.stock-price{
    font-weight: bold;
    font-size: 22px;
}
.modal {
    background: rgba(0,0,0,0.6);
}
.input-group-prepend .btn, .input-group-append .btn{
    z-index: 0;
}
.row{
    margin-right : 0px;
    margin-left  : 0px;
}
.mock-btn{
    cursor: pointer;
}